{
  "response": {
    "game_count": 0,
    "games": [
      {
        "appid": 730,
        "name": "Counter-Strike 2",
        "playtime_forever": 120,
        "img_icon_url": "example_icon_hash",
        "has_community_visible_stats": true,
        "playtime_windows_forever": 120,
        "playtime_mac_forever": 0,
        "playtime_linux_forever": 0,
        "playtime_deck_forever": 0,
        "rtime_last_played": 1234567890,
        "playtime_disconnected": 0
      },
      {
        "appid": 570,
        "name": "Dota 2",
        "playtime_forever": 60,
        "img_icon_url": "example_icon_hash",
        "has_community_visible_stats": true,
        "playtime_windows_forever": 60,
        "playtime_mac_forever": 0,
        "playtime_linux_forever": 0,
        "playtime_deck_forever": 0,
        "rtime_last_played": 1234567890,
        "content_descriptorids": [5],
        "playtime_disconnected": 0
      }
    ]
  }
}
